<!-- Footer -->
<footer class="footer page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

                <!-- Content -->
                <h5 style="color: orange">ShopBest</h5>
                <p class="text-justify">
                    An Online Shopping Website and Discovery Platform for Fashionable Men and Women. Waiting for a revolutionary online shopping website? Well, wait no more. ShopBest is here with an amazing platform that not only lets you shop for your style but also lets
                    you mix-n-match your style to your needs.
                </p>
                <p class="text-justify">
                    ShopBest welcomes all you fashionable men and women to scroll through a never ending variety of the most fashionable apparels.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="color: orange">Information</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Track Your Order</a>
                    </li>
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">Refund Policy</a>
                    </li>
                    <li>
                        <a href="#!">Call Us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->



            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="color: orange">Navigation</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Home</a>
                    </li>

                    <li>
                        <a href="#!">Suits</a>
                    </li>

                    <li>
                        <a href="#!">Categories</a>
                    </li>

                    <li>
                        <a href="#!">Make an Appointment</a>
                    </li>

                    <li>
                        <a href="#!">Search</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="color: orange">Social Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                    <li>
                        <a href="#!">Twitter</a>
                    </li>
                    <li>
                        <a href="#!">Pinterest</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <br>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html"> ShopBest</a>
    </div>
</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>

</html>