* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

/* parallex starts here */

.parallex {
    opacity: 0.65;
}

span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* parallex ends here */

/* custom Carousel CSS */
.carousel-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container a button {
    opacity: 0.6;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    border: none;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-slides {
    display: flex;
    width: 100%;
    min-height: 100%;
}

div.carousel-slides img {
    min-height: 100%;
    width: 100%;
}

/* custom Carousel CSS ends here */

/* overflowed elements css to make them overflow */
.custom-container {
    transform: translateY(-40%);
}
/* end of overflow */

/* pink sign up box */
.segment {
    font-family: "Lato", sans-serif;
    color: black;
    letter-spacing: 3px;
    padding: 30px;
    background-color: bisque;
    border-radius: 0 15px;
}

.segment h1 {
    font-weight: 300;
    font-size: 1.2rem;
}
/* end of pink sign up box */

/* fade effect slides */
#fade-header {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#fade-header h1 {
    color: #fff;
}

.slideshow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
}

.slideshow li {
    width: 94%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(3%);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 45s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url("./images/img2.jpg");
}

.slideshow li:nth-child(2) {
    background-image: url("./images/img3.jpg");
    animation-delay: 9s;
}

.slideshow li:nth-child(3) {
    background-image: url("./images/img4.jpg");
    animation-delay: 18s;
}

.slideshow li:nth-child(4) {
    background-image: url("./images/img5.jpg");
    animation-delay: 27s;
}

.slideshow li:nth-child(5) {
    background-image: url("./images/img6.jpg");
    animation-delay: 36s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}
/* fade effect slides ends here */

/* overriding img-thumbnail of bootstrap using custom class*/
img.custom-thumbnail {
    padding: 0px;
    border: 0px;
}
/* end */

/* media queries */
@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
    ul.slideshow {
        height: 350px;
    }
}

@media (min-width: 768px) {
    .slideshow li.rounded {
        width: 96%;
        transform: translateX(2%);
    }
}

/* media queries ends here */