* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.parallex {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bgimg-1 {
    background-image: url("./images/img1.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.custom-container {
    transform: translateY(-40%);
}

#fade-header {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
    ul.slideshow {
        height: 350px;
    }
}

@media (min-width: 768px) {
    .slideshow li.rounded {
        width: 96%;
        transform: translateX(2%);
    }
}

#fade-header h1 {
    color: #fff;
}

.slideshow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
}

.slideshow li {
    width: 94%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(3%);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 45s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url("./images/img2.jpg");
}

.slideshow li:nth-child(2) {
    background-image: url("./images/img3.jpg");
    animation-delay: 9s;
}

.slideshow li:nth-child(3) {
    background-image: url("./images/img4.jpg");
    animation-delay: 18s;
}

.slideshow li:nth-child(4) {
    background-image: url("./images/img5.jpg");
    animation-delay: 27s;
}

.slideshow li:nth-child(5) {
    background-image: url("./images/img6.jpg");
    animation-delay: 36s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

.segment {
    font-family: "Lato", sans-serif;
    color: black;
    letter-spacing: 3px;
    padding: 30px;
    background-color: bisque;
    border-radius: 0 15px;
}

.segment h1 {
    font-weight: 300;
    font-size: 1.2rem;
}

img.custom-thumbnail {
    padding: 0px;
    border: 0px;
}